.option-item {
    font-size: 13px;
    width: 30%;
    height: 30px;
    color: #fff;
    padding: 5px 5px;
    margin-right: 5px;
    // margin-bottom: 5px;
    display: flex;
    .option-item-icon {
        width: 24px;
        margin-right: 5px;
    }

    span {
        display: inline-block;
    }
}