.wrapper {
    width: 100%;
    background-color: #B22222;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

}

.inner {
    width: var(--default-layout-width);
    height: 54px;
    display: flex;
    justify-content: space-between;
    .left-side ul {
        color: #fff;
        display: flex;
        height: 100%;

        li {
            padding: 0 15px;
            font-size: 14px;
            font-weight: 600;
            height: 100%;
            letter-spacing: 2px;
            a {
                display: inline-flex;
                align-items: center;
                height: 100%;

            }
            &:hover {
                background-color: #DC143C;
            }

            &+li {
                border-left: 1px solid rgb(246, 120, 120);
            }
        }
    }
}

.left-side, .right-side {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    margin-right: 20px;
    color:#fff;
}


.avatar {
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #F8F8FF;
    cursor: pointer;
}


// 

.menu-list {
    background-color: #fff;
    box-shadow: 1px 2px 7px #aaaaaa;
    padding: 10px 0;
    border-radius: 10px;
    ul {


        li {
            cursor: pointer;
            padding: 5px 15px;
            min-width: 180px;

            &:hover {
                background-color: #e4e3e3;
            }
        }
    }
}